<main class="container">
  <div
    class="d-flex flex-column justify-content-center align-items-center mt-4 gap-5"
  >
    <p class="text-center p-3">
      "The world is a book, and those who do not travel read only one page"
    </p>
    <div
      class="d-flex flex-column justify-content-center align-items-center"
      style="width: 100%"
    >
      <iframe
        width="80%"
        height="350"
        src="https://www.openstreetmap.org/export/embed.html?bbox=-55.72265625%2C6.227933930268672%2C48.86718750000001%2C57.27904276497778&amp;layer=opnvkarte"
        style="border: 1px solid black"
      ></iframe
      ><br /><small
        ><a href="https://www.openstreetmap.org/#map=4/35.68/-3.43&amp;layers=O"
          >View Larger Map</a
        ></small
      >
    </div>
  </div>
</main>
